@import "variables";

#banner
{
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(6, 7, 96, 0.5)), url('/assets/images/home/banner.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  h1
  {
    font-size: 5em;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin: 0;
  }

  p
  {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }

  img
  {
    margin-bottom: 0;
  }
}

.home-sections
{
  padding: 0 $large-screen-padding;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2
  {
    font-size: 3em;
    color: #000;
    text-align: center;
    font-weight: bold;
    margin: 0;
  }
  &#about
  {
    background: linear-gradient(90deg, $fourth-color, $medium-color);
    color: #fff;
    h2 {
      color: #fff;
    }
    h3 {
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
    }
    #mvv {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 5%;
      text-align:center;
    }
  }
  &#services {
    text-align: center;
    h2 {
      margin-bottom: 25px;
    }
    .grid {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 5%;

      h3 {
        font-family: 'Montserrat', sans-serif;
      }
    }
  }

}

