@import "variables";

#banner
{
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(6, 7, 96, 0.5)), url('/assets/images/home/banner.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  h1
  {
    font-size: 5em;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin: 0;
  }

  p
  {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }

  img
  {
    margin-bottom: 0;
  }
}

.home-sections
{
  padding: 0 $large-screen-padding;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2
  {
    font-size: 3em;
    color: #000;
    text-align: center;
    font-weight: bold;
    margin: 0;
  }
  &#about
  {
    background: linear-gradient(90deg, $fourth-color, $medium-color);
    color: #fff;
    h2 {
      color: #fff;
    }
    h3 {
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
    }

    .about-text {
      width: 80%;
      margin: 2% auto 5%;
    }

    #mvv {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      width: 100%;
      gap: 5%;
      text-align:center;



      div {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 5% 15% 10%;
        border-radius: 15px;

        h3, p {
          margin: 5% 0;
        }
      }
    }
  }
  &#services {
    text-align: center;
    width: 100%;

    h2 {
      margin-bottom: 25px;
    }
    .grid {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 5%;
      fa-icon {
        font-size: 50px;
        color: $fourth-color;
      }
      h3 {
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
  &#pricing {
    h2 {
      margin-bottom: 25px;
    }
    text-align: center;
    .grid {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 5%;
      width: 100%;

      .plan {
        border: .5px solid $primary-color;
        border-radius: 15px;

        h4 {
          font-size: 25px;
          color: $primary-color;
          margin: 0;
          padding: 15px 0;
          background-color: lighten($fourth-color, 38%);
        }

        button {
          border: none;
          background-color: $fourth-color;
          width: 100%;
          color: #fff;
          font-size: 25px;
          padding: 15px 0;
          cursor: pointer;
          font-weight: 800;
          border-radius: 0 0 15px 15px;
        }
      }


    }
  }
}

