<app-header></app-header>

<section id="banner">
  <h1>Beauty Time</h1>
  <p>Revolutionize your beauty business</p>
</section>

<section id="services" class="home-sections">
  <h2>Services</h2>
  <div class="grid">
    <div>
      <h3>Appointment</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo reiciendis! Ducimus maiores nemo velit.</p>
    </div>
    <div>
      <h3>Clients Interaction</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ipsum iusto perferendis reiciendis sint tempora.</p>
    </div>
    <div>
      <h3>Marketing</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eaque eum facere id quibusdam, suscipit.</p>
    </div>
  </div>
</section>

<section id="pricing" class="home-sections">
  <h2>Pricing</h2>
  <div class="grid">
    <div>
      <h3>Basic</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <h4>$9,99/month</h4>
    </div>
    <div>
      <h3>Plus</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <h4>$14,99/month</h4>
    </div>
    <div>
      <h3>Business</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>$29,99</p>
    </div>
  </div>
</section>

<section id="about" class="home-sections">
  <h2>Beauty Time</h2>
  <p>The BeautyTime was created to bring <b>accessible</b> innovation and technology to small and medium business. Focussed in beauty saloons, barber shops, esthetics studios and related business, we came with a toolbox with solutions for every little problem that your company will have.</p>
  <div id="mvv">
    <div id="mission">
      <h3>Mission</h3>
      <p>Our mission is to bring accessible technology and innovation to everyone.</p>
    </div>
    <div id="vision">
      <h3>Vision</h3>
      <p>Our vision is </p>
    </div>
    <div id="values">
      <h3>Values</h3>
      <p>Our values is treating every costumer with every respect.</p>
    </div>
  </div>
</section>


<app-footer></app-footer>
