@import "variables";

footer
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, $fourth-color, $medium-color);

  .brand
  {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img
    {
      width: 240px;
    }
    p
    {
      color: #fff;
      font-size: 1.2em;
    }
    p.small
    {
      font-size: .8em;
    }
  }

}
