<nav>
  <a href="#"><img id="logo" src="../../../../../../assets/images/logo-light.png" alt="logo"/></a>
  <ul>
    <a routerLink="/establishment">
      <li>Home</li>
    </a>
    <a routerLink="/establishment/appointments">
      <li>Appointments</li>
    </a>
    <a routerLink="/establishment/business">
      <li>Business</li>
    </a>
    <a routerLink="/establishment/services">
      <li>Services</li>
    </a>
    <a routerLink="/establishment/calendar">
      <li>Calendar</li>
    </a>
    <a routerLink="/establishment/clients">
      <li>Clients</li>
    </a>
  </ul>
</nav>
