$primary-color: #261843;
$secondary-color: #3b2b56;
$third-color: #5f3273;
$fourth-color: #7459cd;
$medium-color: #eb79fc;
$large-screen-padding: 10%;
$medium-screen-padding: 5%;
$small-screen-padding: 2%;
$large-screen-section-margin: 50px;
$medium-screen-section-margin: 30px;
$small-screen-section-margin: 20px;
