<section id="shared">
  <div class="form">
    <a [routerLink]="'/'">
      <img src="assets/images/logo-light.png" alt="logo" id="logo">
    </a>
    <input type="text" placeholder="E-mail" [(ngModel)]="email" (input)="onInputChange()">
    <input type="password" placeholder="Password" [(ngModel)]="password" (input)="onInputChange()">
    <button [disabled]="!inputValidated">Login</button>
    <a routerLink="/establishment/forget-password">Forgot your password?</a>
    <a routerLink="/establishment/register">Don't have an account? Sign up</a>
  </div>
</section>
