@import "variables";

#application
{
  min-height: 100vh;
  display: flex;
  background: linear-gradient(90deg, #261843, #5f3273);
  color: #fff;

  #application-container
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: inherit;
    margin: 0;

    #content
    {
      display: grid;
      grid-template-columns: 20% 80%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: inherit;

    }
    p
    {
      color: #fff;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
      margin: 0;
    }
  }

  .under-construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;

    h2 {
      margin: 25px 0;
    }

    fa-icon {
      font-size: 50px;
    }
  }

}



p
{
  margin: 0;
}

app-header {
  width: 100%;
}

app-footer {
  width: 80%;
  margin-left: auto;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th, ::ng-deep .p-datatable .p-datatable-tbody > tr > td, ::ng-deep .p-datatable .p-datatable-tbody > tr{
  background-color: rgba(0, 0, 0, 0.05 ) !important;
  color: #ffffff;
  border: 1px dashed rgba(255, 255, 255, 0.1 );
}


